// Breakpoints

/// breakpoint set at min-width: 400px
/// @group config
$bp-larger-than-mobile    : "min-width: 400px" !default;

/// breakpoint set at min-width: 550px
/// @group config
$bp-larger-than-phablet   : "min-width: 550px" !default;

/// breakpoint set at min-width: 750px
/// @group config
$bp-larger-than-tablet    : "min-width: 750px" !default;

/// breakpoint set at min-width: 1000px
/// @group config
$bp-larger-than-desktop   : "min-width: 1000px" !default;

/// breakpoint set at min-width: 1200px
/// @group config
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #e1e1e1 !default;
$dark-grey: #333 !default;
$primary-color: #33c3f0 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;

// Typography
$font-family: "Quicksand", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Misc
$global-radius: 4px !default;
