@import "_grid/vars";
@import "_grid/functions";
@import "_grid/mixins";

.column,
.columns {
	padding-left: $column-gutter / 2;
	padding-right: $column-gutter / 2;
	width: 100%;
	float: left;
}


.columns .columns,
.column .column,
.column .columns,
.columns .column {
	padding-left:0;
	padding-right:0;
}

.row {
	max-width: $row-width;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;

	max-width:$small-row-width;

}

.row:before, .row:after {
	content: " ";
	display: table;
}

.row:after {
	clear: both;
}

.row .row {
	width: auto;
	margin-top: 0;
	margin-bottom: 0;
	max-width: none;
}


@media only screen and (min-width: $medium-up) {
	.row{
		max-width:$medium-row-width;

	}
	.columns .columns,
	.column .column{
		padding-left:0;
		padding-right:$column-gutter / 2;
	}
}


@media only screen and (min-width: $large-up) {

	.row{
		max-width:$large-row-width;

	}

	.columns .columns,
	.column .column{
		padding-left:0;
		padding-right:$column-gutter / 2;
	}

}

@media only screen {

	.column.small-centered,
	.columns.small-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.column.small-uncentered,
	.columns.small-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}

	.column.small-centered:last-child,
	.columns.small-centered:last-child {
		float: none;
	}

	.column.small-uncentered:last-child,
	.columns.small-uncentered:last-child {
		float: left;
	}

	@include _gen-sml-cols($total-columns);
	@include _gen-sml-offset-cols($total-columns);
	@include _gen-sml-pull-cols($total-columns);
	@include _gen-sml-push-cols($total-columns);
}



@media only screen and (min-width: $medium-up) {

	.column.medium-centered,
	.columns.medium-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.column.medium-uncentered,
	.columns.medium-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}

	.column.medium-centered:last-child,
	.columns.medium-centered:last-child {
		float: none;
	}

	.column.medium-uncentered:last-child,
	.columns.medium-uncentered:last-child {
		float: left;
	}

	@include _gen-md-cols($total-columns);
	@include _gen-md-offset-cols($total-columns);
	@include _gen-md-pull-cols($total-columns);
	@include _gen-md-push-cols($total-columns);

}


@media only screen and (min-width: $large-up) {
	.column.large-centered,
	.columns.large-centered {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}

	.column.large-uncentered,
	.columns.large-uncentered {
		margin-left: 0;
		margin-right: 0;
		float: left;
	}

	.column.large-centered:last-child,
	.columns.large-centered:last-child {
		float: none;
	}

	.column.large-uncentered:last-child,
	.columns.large-uncentered:last-child {
		float: left;
	}

	@include _gen-lg-cols($total-columns);
	@include _gen-lg-offset-cols($total-columns);
	@include _gen-lg-pull-cols($total-columns);
	@include _gen-lg-push-cols($total-columns);

}
