/// placeholder for clearfix
/// @name clearfix
/// @author Benjamin Hinchley
/// @group utilities
/// @access public
/// @example
///   .thing-you-want-to-add-the-clearfix-to {
///     @extend %clearfix;
///   }

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
