$columns: (
  1: one,
  2: two,
  3: three,
  4: four,
  5: five,
  6: six,
  7: seven,
  8: eight,
  9: nine,
  10: ten,
  11: eleven,
  12: twelve,
  13: thirteen,
  14: fourteen,
  15: fifteen,
  16: sixteen,
  17: seventeen,
  18: eighteen,
  19: nineteen,
  20: twenty,
  21: twenty-one,
  22: twenty-two,
  23: twenty-three,
  24: twenty-four
);

@mixin _container($wrap: true) {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;

  @if $wrap == false {
    @include breakpoint($grid-active) {
      & {
        flex-flow: row nowrap;
      }
    }
  }
}

@mixin _column ($total-columns, $column-number, $is-rigid: false) {
  @if $is-rigid == false {
    width: _col-width($total-columns, $column-number);
  }

  @else if $is-rigid == true {
    max-width: _col-width($total-columns, $column-number);
  }
}

@mixin _gen-cols($total-columns, $is-rigid) {
  @for $i from 1 through $total-columns {
    .column--#{map_get($columns, $i)} {
      @include _column($total-columns, $i, $is-rigid);
    }
  }
}
