@import '_typography/mixins';
@import '_typography/functions';

@include _heading-size(typeScale($headingsScale));

// p,
// ul,
// ol {
//   max-width: 30em; // This is to improve readability
// }

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
  margin-left: 1rem;
}

ul ul,
ol ul {
  list-style: circle inside;
}

ol ol,
ul ol {
  list-style: lower-alpha inside;
}

blockquote {
  padding-left: 1rem;
  margin-left: 0;
  border-left: 3px solid $gray;
}
