@import '_grid/functions';
@import '_grid/mixins';

.container {
  @include _container;

  max-width: 1440px;
  margin: 0 auto;
}

.row {
  @include _container(false);
}

.column {
  width: 100%;

  padding-right: $leading / 2;
  padding-bottom: $leading;
  padding-left: $leading / 2;

  flex-grow: 1;
  flex-shrink: 1;
}

@include breakpoint($grid-active) {
  @include _gen-cols($total-columns, false);
};
