@import '_typography/mixins';
@import '_typography/functions';

// This is based off of typebase.css (http://devinhunt.github.io/typebase.css/)

p {
  max-width: 30rem;

  margin-top: 0;
  margin-bottom: $leading;
  line-height: $leading;
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

ul,
ol {
  margin-bottom: $leading;

  li {
    line-height: $leading;
  }

  ul {
    list-style: circle inside;
  }

  ol {
    list-style: lower-alpha inside;
  }

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 1rem;
  }
}

blockquote {
  padding-left: 1rem;
  margin-top: $leading;
  margin-bottom: $leading;
  margin-left: 0;

  line-height: $leading;
  border-left: 3px solid $silver;
}


@include _heading-size(typeScale($headingsScale));

h1 {
  margin-bottom: 2 * $leading;
  line-height: 3 * $leading;
}

h2 {
  margin-bottom: 2 * $leading;
  line-height: 2 * $leading;
}


code {
  vertical-align: bottom;
}
