$scales: (
  minorSecond: 1.067,
  majorSecond: 1.125,
  minorThird: 1.200,
  majorThird: 1.250,
  perfectFourth: 1.333,
  augmentedFourth: 1.414,
  perfectFifth: 1.500,
  goldenRatio: 1.618
);

@function typeScale($scale) {
  @return map-get($scales, $scale);
}
